{% extends "admin/layout.html" %}
{% block body %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Provincia list</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Spain Provincia list
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>INE_Municipio_Name</th>
                                    <th>INE_Collective_Entity_Name</th>
                                    <th>INE_Singular_Entity_Name</th>
                                    <th>INE_Nuclea_Name</th>
                                    <th>INE_Name_w_Article</th>
                                    <th>gmap_name</th>
                                    <th>INE-GMap_Name_comparison</th>
                                    <th>GMap_type</th>
                                    <th>GMap_center_SNIG_comparison</th>
                                    <th>SNIG_NOMBRE</th>
                                    <th>SNIG_TIPO</th>
                                    <th>SNIG_ETRS89</th>
                        
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>INE_Municipio_Name</th>
                                    
                                    <th>INE_Collective_Entity_Name</th>
                                    <th>INE_Singular_Entity_Name</th>
                                    <th>INE_Nuclea_Name</th>
                                    <th>INE_Name_w_Article</th>
                                    <th>gmap_name</th>
                                    <th>INE-GMap_Name_comparison</th>
                                    <th>GMap_type</th>
                                    <th>GMap_center_SNIG_comparison</th>
                                    <th>SNIG_NOMBRE</th>
                                    <th>SNIG_TIPO</th>
                                    <th>SNIG_ETRS89</th>
                                  

                                </tr>
                                </tfoot>
                                <tbody>

                                    {% for item in data %}

                                        <tr>
                                            <td>{{item['01_INE_Municipio_Name']}}</td>
                             
                                            <td>{{item['03_INE_Collective_Entity_Name']}}</td>
                                            <td>{{item['05_INE_Singular_Entity_Name']}}</td>
                                            <td>{{item['07_INE_Nuclea_Name']}}</td>
                                            <td>{{item['08_INE_Name_w_Article']}}</td>
                                            <td>{{item['10_gmap_name']}}</td>
                                            <td>{{item['11_gmap_comparison']}}</td>
                                            <td>{{item['12_GMap_type']}}</td>
                                            <td><a href="{{item['15_gmap_comparison_url']}}">{{item['15_GMap_center_SNIG_comparison']}}</a></td>
                                            <td>{{item['24_SNIG_NOMBRE']}}</td>
                                            <td>{{item['25_SNIG_TIPO']}}</td>
                                            <td><a href="https://www.google.com.ua/maps/dir/{{item['28_SNIG_LATITUD_ETRS89']}},{{item['29_SNIG_LONGITUD_ETRS89']}}">{{item['28_SNIG_LATITUD_ETRS89']}},{{item['29_SNIG_LONGITUD_ETRS89']}}</a> </td>
                                           
                                        
           

                                  
                                            
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>

<script src="/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}