{% extends "admin/layout.html" %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function() {
    var table = $('.js-exportable').css("width", "auto").DataTable( {
        "lengthMenu": [[10, 100, 1000, -1], [10, 100, 1000, "All"]],
        
        dom: 'Bflrtip',
        buttons: [
            'csv', 'excel', 
        ],

    } );


     $('#dropdown1').on('change', function () {
                    table.columns(30).search( this.value ).draw();
                } );
     $('#dropdown2').on('change', function () {
                    table.columns(29).search( this.value ).draw();
                } );
    $('#dropdown3').on('change', function () {
                    table.columns(31).search( this.value ).draw();
                } ); 
        $('#dropdown4').on('change', function () {
                    table.columns(32).search( this.value ).draw();
                } ); 




    $('a.toggle-link-vis').on( 'click', function (e) {
        e.preventDefault();
        var column = table.column($(this).attr('data-column'));
        column.visible(!column.visible());

        if( $(this).css('color') == 'rgb(255, 0, 0)' )  { 
           
            $(this).removeAttr("style");
         
        } 
        else { 

            $(this).css('color', 'red');

        }   

        
    } );

        $('#dataTable').css("width", "auto");
          $('#edit-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                esseyId = e.relatedTarget.id;
                    $.post( "/spain-reparse_by_geocode", { id: esseyId })
            .done(function( data ) {
                console.log(JSON.parse(data))
                arr = JSON.parse(data)
                txt = esseyId+'<form>'
                for (var i = 0; i < arr.length; i++){
                    var obj = arr[i];
                    // for (var key in obj){
                    //     var  = key; <input type="radio" name="gender" value="male" checked> Male<br>
                    //     var attrValue = obj[key];
                    //      // $modal.find('.edit-content').html(data); onclick='repars("+esseyId+"', '"+obj['place_id']+"')'
                    // }
                    console.log(obj)
                    var place_id =  obj['place_id']
                    txt = txt + "<div><p><i onclick='repars(\""+esseyId+"\",\""+place_id+"\")'  class='glyphicon glyphicon-ok' > </i> <a href='https://google-developers.appspot.com/maps/documentation/utils/geocoder/#place_id%3D"+obj['place_id']+"'  target='_blank'>"+obj['description']+"</a></p><p>types - "+ obj['types'] +"</p></p><br>";
                     
                }
                txt = txt+'</form>';
                $modal.find('.edit-content').html(txt);

               
            // alert(data)
        });
            
//            $.ajax({
//                cache: false,
//                type: 'POST',
//                url: 'backend.php',
//                data: 'EID='+essay_id,
//                success: function(data) 
//                {
                    
//                }
//            });
            
        })
// $('[name="WOFButton"]').on('click', function(event) {
//     alert("clicked");
//     // $('.Main').load('wof.html');
// });
// $('[name="WOFButton"]').on('click', function(event) {


//     $.post( "/matching-spain-update", { id: $(this).attr('id') })
//         .done(function( data ) {
    
//   });
// });

} );

</script>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Provincia list</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Spain Provincia: {{region}}
                        </h2>
                    </div>
                    <div class="text">
                        Toggle column (INE):
                        <a class="toggle-link-vis" data-column="0" style="color: red;" data-hide>INE_Municipio_Code</a>
                        - <a class="toggle-link-vis" data-column="1">INE_Municipio_Name</a>
                        - <a class="toggle-link-vis" data-column="2" style="color: red;" data-hide>INE_Collective_Entity_Code</a>
                        - <a class="toggle-link-vis" data-column="3" >3_INE_Collective_Entity_Name</a>
                        - <a class="toggle-link-vis" data-column="4" style="color: red;" data-hide>INE_Singular_Entity_Code</a>
                        - <a class="toggle-link-vis" data-column="5">INE_Singular_Entity_Name</a>
                        - <a class="toggle-link-vis" data-column="6" style="color: red;" data-hide>INE_Nuclea_Code</a>
                        - <a class="toggle-link-vis" data-column="7">INE_Nuclea_Name</a>
                        - <a class="toggle-link-vis" data-column="8">INE_Name_w_Article</a>
                        - <a class="toggle-link-vis" data-column="9" style="color: red;" data-hide>INE_Población</a>
                    </div>
                    
                    <div class="text">
                        Toggle column (GMAP):
                        - <a class="toggle-link-vis" data-column="10">Gmap_name</a>
                        - <a class="toggle-link-vis" data-column="11">GMap_type</a>
                        - <a class="toggle-link-vis" data-column="12" style="color: red;" data-hide>13_GMap_requests</a>
                        - <a class="toggle-link-vis" data-column="13" style="color: red;" data-hide>14_GMap_center</a>
                        - <a class="toggle-link-vis" data-column="14">15_GMap_center_SNIG_comparison</a>
                        - <a class="toggle-link-vis" data-column="15" style="color: red;" data-hide>16_GMap_bounds</a>
                        - <a class="toggle-link-vis" data-column="16" style="color: red;" data-hide>17_GMap_admin_hierarchy</a>

                    </div>
                    <div class="text">
                        Toggle column (SNIG):
                        - <a class="toggle-link-vis" data-column="17" style="color: red;" data-hide>20_SNIG_COD_PROV</a>
                        - <a class="toggle-link-vis" data-column="18" style="color: red;" data-hide>21_SNIG_PROVINCIA</a>
                        - <a class="toggle-link-vis" data-column="19" style="color: red;" data-hide>22_SNIG_INEMUNI</a>
                        - <a class="toggle-link-vis" data-column="20" style="color: red;" data-hide>23_SNIG_CODIGOINE</a>
                        - <a class="toggle-link-vis" data-column="21">24_SNIG_NOMBRE</a>
                        - <a class="toggle-link-vis" data-column="22">25_SNIG_TIPO</a>
                        - <a class="toggle-link-vis" data-column="23" style="color: red;" data-hide>26_SNIG_POBLACION</a>
                        - <a class="toggle-link-vis" data-column="24" style="color: red;" data-hide>27_SNIG_ALTITUD</a>
                        - <a class="toggle-link-vis" data-column="25">28_SNIG_ETRS89</a>
                        - <a class="toggle-link-vis" data-column="26" style="color: red;" data-hide>30_SNIG_HOJA_MTN25</a>
                        - <a class="toggle-link-vis" data-column="27" style="color: red;" data-hide>31_SNIG_ORIGENCOOR</a>
                        - <a class="toggle-link-vis" data-column="28" style="color: red;" data-hide>32_SNIG_ORIGENALTITUD</a>
                         <a class="toggle-link-vis" data-column="29" style="color: red;" data-hide></a>
                          <a class="toggle-link-vis" data-column="30" style="color: red;" data-hide></a>
                          <a class="toggle-link-vis" data-column="31" style="color: red;" data-hide ></a>
                           <a class="toggle-link-vis" data-column="32" style="color: red;" ></a>
                         <a class="toggle-link-vis" data-column="100500" style="color: red;" data-hide></a>
                    </div>
                    <label>INE_Name_w_Article ≠ gmap_name :</label>
                    <select id="dropdown1">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>

                    <label>GMap_type  ≠ SNIG_TIPO :</label>
                    <select id="dropdown3">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>


                     <label>distance > 1km : </label>
                    <select id="dropdown2">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>

                    <label>Status : </label>
                    <select id="dropdown4">
                        <option value="">Всі результати</option>
                      <option value="TRUSTED">TRUSTED</option>
                      <option value="Confirmed">Confirmed</option>
                      <option value="Error">Error</option>
                    </select>
                    
                    <div class="body">
                        <div class="table-responsive">
                            <table id = "dataTable" class="table table-bordered table-striped table-hover dataTable js-exportable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>INE_Municipio_Code </th>
                                    <th>INE_Municipio_Name</th>
                                    <th>INE_Collective_Entity_Code</th>
                                    <th>INE_Collective_Entity_Name</th>
                                    <th>INE_Singular_Entity_Code</th>
                                    <th>INE_Singular_Entity_Name</th>
                                    <th>INE_Nuclea_Code</th>
                                    <th>INE_Nuclea_Name</th>
                                    <th>INE_Name_w_Article</th>
                                    <th>INE_Población</th>
                                    <th>gmap_name</th>
                                    <th>GMap_type</th>
                                    <th>GMap_requests</th>
                                    <th>GMap_center</th>
                                    <th>15_GMap_center_SNIG_comparison</th>
                                    <th>16_GMap_bounds</th>
                                     <th>17_GMap_admin_hierarchy</th>
                                    <th>20_SNIG_COD_PROV</th>
                                    <th>21_SNIG_PROVINCIA</th>
                                    <th>22_SNIG_INEMUNI</th>
                                    <th>23_SNIG_CODIGOINE</th>
                                    <th>24_SNIG_NOMBRE</th>
                                    <th>25_SNIG_TIPO</th>
                                    <th>26_SNIG_POBLACION</th>
                                    <th>27_SNIG_ALTITUD</th>
                                    <th>28_SNIG_ETRS89</th>
                                    <th>30_SNIG_HOJA_MTN25</th>
                                    <th>31_SNIG_ORIGENCOOR</th>
                                    <th>32_SNIG_ORIGENALTITUD</th>
                                    <th>distance > 1km</th>
                                    <th>11_gmap_comparison</th>
                                    <th>tp</th>
                                    <th>status</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                     <th>INE_Municipio_Code </th>
                                    <th>INE_Municipio_Name</th>
                                    <th>INE_Collective_Entity_Code</th>
                                    <th>INE_Collective_Entity_Name</th>
                                    <th>INE_Singular_Entity_Code</th>
                                    <th>INE_Singular_Entity_Name</th>
                                    <th>INE_Nuclea_Code</th>
                                    <th>INE_Nuclea_Name</th>
                                    <th>INE_Name_w_Article</th>
                                    <th>INE_Población</th>
                                    <th>gmap_name</th>
                                    <th>GMap_type</th>
                                     <th>GMap_requests</th>
                                     <th>GMap_center</th>
                                     <th>15_GMap_center_SNIG_comparison</th>
                                    <th>16_GMap_bounds</th>
                                    <th>17_GMap_admin_hierarchy</th>
                                    <th>20_SNIG_COD_PROV</th>
                                    <th>21_SNIG_PROVINCIA</th>
                                    <th>22_SNIG_INEMUNI</th>
                                    <th>23_SNIG_CODIGOINE</th>
                                    <th>24_SNIG_NOMBRE</th>
                                    <th>25_SNIG_TIPO</th>
                                    <th>26_SNIG_POBLACION</th>
                                    <th>27_SNIG_ALTITUD</th>
                                    <th>28_SNIG_ETRS89</th>
                                    <th>30_SNIG_HOJA_MTN25</th>
                                    <th>31_SNIG_ORIGENCOOR</th>
                                    <th>32_SNIG_ORIGENALTITUD</th>
                                    <th>distance > 1km</th>
                                    <th>11_gmap_comparison</th>
                                    <th>tp</th>
                                    <th>status</th>



                                </tr>
                                </tfoot>
                                <tbody>

                                    {% for item in data %}

                                        <tr>
                                             <td>{{item['00_INE_Municipio_Code']}} </td>
                                            <td>{{item['01_INE_Municipio_Name']}}</td>
                                            <td>{{item['02_INE_Collective_Entity_Code']}}</td>
                                            <td>{{item['03_INE_Collective_Entity_Name']}}</td>
                                            <td>{{item['04_INE_Singular_Entity_Code']}}</td>
                                            <td>{{item['05_INE_Singular_Entity_Name']}}</td>
                                            <td>{{item['06_INE_Nuclea_Code']}}</td>
                                            <td>{{item['07_INE_Nuclea_Name']}}</td>
                                            <td>{{item['08_INE_Name_w_Article']}}</td>
                                            <th>{{item['09_INE_Población']}}</th>
                                           
                                            {% if item['11_gmap_comparison'] %}
                                                {% set com = com +1 %}
                                                <td style="background-color: #9efb9e;"><div><a href="#myModal" data-toggle="modal" id="{{item['_id']}}" data-target="#edit-modal"><i  class="glyphicon glyphicon-repeat"></i></a></div>{{item['10_gmap_name']}}</td>
                                                
                                            {% else %}
                                                <td style="background-color: #f0b7ab;">    <div><a href="#myModal" data-toggle="modal" id="{{item['_id']}}" data-target="#edit-modal"><i  class="glyphicon glyphicon-repeat"></i></a></div>  {{item['10_gmap_name']}}</td>
                                            {% endif %}
                                            {% if item['12_gmap_type'] in types[item['25_SNIG_TIPO']] %}
                                             {% set com = com +1 %}
                                                <td style="background-color: #9efb9e;">{{item['12_gmap_type']}}</td>
                                            {% else %}
                                                <td style="background-color: #f0b7ab;">{{item['12_gmap_type']}}</td>
                                            {% endif %}


                                            <td>{{item['13_GMap_requests']}}</td>
                                            <td>{{item['gmap_center']}}</td>

                                            {% if item['15_GMap_center_SNIG_comparison'] != None and item['15_GMap_center_SNIG_comparison'] <= 1 %}
                                             {% set com = com +1 %}
                                                    <td  style="background-color: #9efb9e;"><a target="_blank" href="{{item['15_gmap_comparison_url']}}">{{item['15_GMap_center_SNIG_comparison']}}</a></td>
                                            {% else %}
                                                        <td style="background-color: #f0b7ab;"><a target="_blank" href="{{item['15_gmap_comparison_url']}}">{{item['15_GMap_center_SNIG_comparison']}}</a></td>
                                            {% endif %}
                                            <td>{{item['gmap_bounds']}}</td>
                                            <td>{{item['17_gmap_admin_hierarchy']}}</td>
                                            <td>{{item['20_SNIG_COD_PROV']}}</td>
                                            <td>{{item['21_SNIG_PROVINCIA']}}</td>
                                            <td>{{item['22_SNIG_INEMUNI']}}</td>
                                            <td>{{item['23_SNIG_CODIGOINE']}}</td>
                                            <td>{{item['24_SNIG_NOMBRE']}}</td>
                                            <td>{{item['25_SNIG_TIPO']}}</td>
                                            <td>{{item['26_SNIG_POBLACION']}}</td>
                                            <td>{{item['27_SNIG_ALTITUD']}}</td>
                                            <td><a target="_blank" href="https://www.google.com.ua/maps/dir/{{item['28_SNIG_LATITUD_ETRS89']}},{{item['29_SNIG_LONGITUD_ETRS89']}}">{{item['28_SNIG_LATITUD_ETRS89']}},{{item['29_SNIG_LONGITUD_ETRS89']}}</a> </td>
                                            <td>{{item['30_SNIG_HOJA_MTN25']}}</td>
                                            <td>{{item['31_SNIG_ORIGENCOOR']}}</td>
                                            <td>{{item['32_SNIG_ORIGENALTITUD']}}</td>
                                            {% if item['15_GMap_center_SNIG_comparison'] != None and item['15_GMap_center_SNIG_comparison'] <= 1 %}
                                                   <td style="background-color: #9efb9e;">true</td>
                                            {% else %}
                                                    <td style="background-color: #f0b7ab;">false</td>
                                            {% endif %}
                                            <td>{{item['11_gmap_comparison']}}</td>

                                            {% if item['12_gmap_type'] in types[item['25_SNIG_TIPO']] %}
                                                   <td style="background-color: #9efb9e;">true</td>
                                            {% else %}
                                                    <td style="background-color: #f0b7ab;">false</td>
                                            {% endif %}
                                            {% if com == 3 and item['status'] != 4  %}
                                                <td  id = "{{item['_id']}}"> <label class="label label-warning">TRUSTED</label>  <button onclick="cheked('{{item['_id']}}')" name="WOFButton" type="button" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-ok"></i></button> </td>
                                            {% elif item['status'] == 4   %}
                                                <td id="status">   <label class="label label-success">Confirmed</label> </td>
                                            {% elif  item['status'] != 4 and com < 3  %}
                                              <td  id = "{{item['_id']}}"><label class="label label-danger">Error</label>  <button   name="WOFButton" onclick="cheked('{{item['_id']}}')"  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i></button> </td>
                                            {% endif %}
                                           
                                            <!-- <td></td> -->
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>


   <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">ReParsing by place_id</h4>
                </div>
   
                <form>
                   
                    <div class="modal-body edit-content">
                    ...

                    </div>
                   
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/pages/tables/jquery-datatable.js"></script>
<script type="text/javascript">
function cheked(id) {
       var id;
          $.post( "/matching-spain-update", { id: id })
            .done(function( data ) {
                 document.getElementById(id).innerHTML = "<label class='label label-success'>Confirmed</label>";
    
        });
}

function reparse_by_geocode(id) {
    
    $.post( "/spain-reparse_by_geocode", { id: id })
            .done(function( data ) {
                
            alert(data)
        });
    // var id;
    // alert(id);
}

function repars(mongo_id, place_id) {
    var mongo_id;
    var place_id;
    alert(place_id);
}
</script>

{% endblock %}