{% extends "admin/layout.html" %}
{% block body %}
<script type="text/javascript">
    $(document).ready(function() {
    var table = $('.js-exportable').css("width", "auto").DataTable( {
        "lengthMenu": [[10, 100, 1000, -1], [10, 100, 1000, "All"]],
        
        dom: 'Bflrtip',
        buttons: [
            'csv', 'excel', 
        ],

    } );


     $('#dropdown1').on('change', function () {
                    table.columns(30).search( this.value ).draw();
                } );
     $('#dropdown2').on('change', function () {
                    table.columns(31).search( this.value ).draw();
                } );
    $('#dropdown3').on('change', function () {
                    table.columns(32).search( this.value ).draw();
                } ); 
    $('#dropdown4').on('change', function () {
                    table.columns(33).search( this.value ).draw();
                } ); 




    $('a.toggle-link-vis').on( 'click', function (e) {
        e.preventDefault();
        var column = table.column($(this).attr('data-column'));
        column.visible(!column.visible());

        if( $(this).css('color') == 'rgb(255, 0, 0)' )  { 
           
            $(this).removeAttr("style");
         
        } 
        else { 

            $(this).css('color', 'red');

        }   

        
    } );

        $('#dataTable').css("width", "auto");
        $('#edit-modal').on('show.bs.modal', function(e) {
            
            var $modal = $(this),
                esseyId = e.relatedTarget.id;
                    $.post( "/romania-reparse_by_geocode", { id: esseyId, type: 'autocomplete' })
            .done(function( data ) {
                console.log(JSON.parse(data))
                arr = JSON.parse(data)
       txt = '<span class="mongo_pars_is">'+esseyId+'</span><form>';
                for (var i = 0; i < arr.length; i++){
                    var obj = arr[i];
                    // for (var key in obj){
                    //     var  = key; <input type="radio" name="gender" value="male" checked> Male<br>
                    //     var attrValue = obj[key];
                    //      // $modal.find('.edit-content').html(data); onclick='repars("+esseyId+"', '"+obj['place_id']+"')'
                    // }
                    console.log(obj)
                    var place_id =  obj['place_id'];
                    txt = txt + "<div><p><i onclick='repars(\""+esseyId+"\",\""+place_id+"\")'  class='glyphicon glyphicon-ok' > </i> <a href='https://google-developers.appspot.com/maps/documentation/utils/geocoder/#place_id%3D"+obj['place_id']+"'  target='_blank'>"+obj['description']+"</a></p><p>types - "+ obj['types'] +"</p></p><br>";
                     
                }
                txt = txt+'</form>';

        $modal.find('.edit-content').html(txt);

               
        //     // alert(data)
        });
            
//            $.ajax({
//                cache: false,
//                type: 'POST',
//                url: 'backend.php',
//                data: 'EID='+essay_id,
//                success: function(data) 
//                {
                    
//                }
//            });
            
        })

                $('#wiki-modal').on('show.bs.modal', function(e) {
                               var $modal = $(this),
                    esseyId = e.relatedTarget.id;
                     txt = '<span class="wiki_mongo">'+esseyId+'</span><form>';
                            $modal.find('.edit-content').html(txt);

                    });
// $('[name="WOFButton"]').on('click', function(event) {
//     alert("clicked");
//     // $('.Main').load('wof.html');
// });
// $('[name="WOFButton"]').on('click', function(event) {


//     $.post( "/matching-spain-update", { id: $(this).attr('id') })
//         .done(function( data ) {
    
//   });
// });
        $('.search-input-text').on( 'keyup click', function () {   // for text boxes
    var i =$(this).attr('data-column');  // getting column index
    var v =$(this).val();  // getting search input value
    table.columns(i).search(v).draw();
} );

} );

</script>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Provincia list</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ROMANIA
                        </h2>
                    </div>
                                 <div class="text">
                        Toggle column :
                                 
                        - <a class="toggle-link-vis" data-column="1" style="color: red;" data-hide>SIRUTA</a>
                        - <a class="toggle-link-vis" data-column="2">DENLOC</a>
                        -<a class="toggle-link-vis" data-column="3" style="color: red;" data-hide>CODP</a>
                        -<a class="toggle-link-vis" data-column="4" style="color: red;" data-hide>JUD</a>
                        - <a class="toggle-link-vis" data-column="5" style="color: red;" data-hide>SIRSUP</a>
                        - <a class="toggle-link-vis" data-column="6"  >TIP</a>
                        - <a class="toggle-link-vis" data-column="7" style="color: red;" data-hide>NIV</a>
                        - <a class="toggle-link-vis" data-column="8" style="color: red;" data-hide>REGIUNE</a>
                        - <a class="toggle-link-vis" data-column="9" style="color: red;" data-hide>FSJ</a>
                        - <a class="toggle-link-vis" data-column="10" style="color: red;" data-hide>FS2</a>
                        - <a class="toggle-link-vis" data-column="11" style="color: red;" data-hide>FS3</a>
                        - <a class="toggle-link-vis" data-column="12" style="color: red;" data-hide>FSL</a>
                        - <a class="toggle-link-vis" data-column="13" style="color: red;" data-hide>rang</a>
                        - <a class="toggle-link-vis" data-column="14">gmap_name</a>
                        - <a class="toggle-link-vis" data-column="15">gmap_postal_code</a>
                        - <a class="toggle-link-vis" data-column="16" style="color: red;" data-hide>gmap_admin_hierarchy</a>
                        - <a class="toggle-link-vis" data-column="17" style="color: red;" data-hide>gmap_center</a>
                        - <a class="toggle-link-vis" data-column="18" style="color: red;" data-hide>gmap_bounds</a>
                        - <a class="toggle-link-vis" data-column="19">distance_wiki_gmap</a>
                        - <a class="toggle-link-vis" data-column="20">gmap_type</a>
                        - <a class="toggle-link-vis" data-column="21" style="color: red;" data-hide>gmap_requests</a>
                        
                       
                        - <a class="toggle-link-vis" data-column="22" >wiki_name</a>
                        - <a class="toggle-link-vis" data-column="23" style="color: red;" data-hide>wiki_siruta</a>
                        - <a class="toggle-link-vis" data-column="24" style="color: red;" data-hide>wiki_postal_code</a>
                        - <a class="toggle-link-vis" data-column="25" >wiki_center</a>
                        - <a class="toggle-link-vis" data-column="26" style="color: red;" data-hide>wiki_admin_hierarchy</a>
                        - <a class="toggle-link-vis" data-column="27" style="color: red;" data-hide>DENLOC_Adapted</a>
                        - <a class="toggle-link-vis" data-column="28" style="color: red;" data-hide>gmap_name_Adapted</a>
                        - <a class="toggle-link-vis" data-column="29" style="color: red;" data-hide>Wiki_Name_Adapted</a>
                        
                        <a class="toggle-link-vis" data-column="30" style="color: red;" data-hide></a>
                       <a class="toggle-link-vis" data-column="31" style="color: red;" data-hide></a>
                       <a class="toggle-link-vis" data-column="32" style="color: red;" data-hide></a>
                        <a class="toggle-link-vis" data-column="33" data-hide ></a>
                   <a class="toggle-link-vis" data-column="34" </a>

                        <a class="toggle-link-vis" data-column="100500" style="color: red;" data-hide></a>
                    </div>
                    
                                        <label>DENLOC ≠ gmap_name :</label>
                    <select id="dropdown1">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>

                    <label>CODP ≠ gmap_postal_code :</label>
                    <select id="dropdown2">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>


                     <label>distance > 1km : </label>
                    <select id="dropdown3">
                        <option value="">Всі результати</option>
                      <option value="true">true</option>
                      <option value="false">false</option>
                    </select>
                                         <label>Siruta</label>
                    <select id="dropdown4">
                        <option value="">Всі результати</option>
                      <option value="True">true</option>
                      <option value="False">false</option>
                    </select>
                    
                    <div class="body">
                        <div class="table-responsive">
                            <table id = "dataTable" class="table table-bordered table-striped table-hover dataTable js-exportable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th><input type="text" data-column="0"  class="search-input-text">STATUS</th>
                                    <th><input type="text" data-column="1"  class="search-input-text">SIRUTA</th>
                                    <th><input type="text" data-column="2"  class="search-input-text">DENLOC</th>
                                    <th><input type="text" data-column="3"  class="search-input-text">CODP</th>
                                    <th><input type="text" data-column="4"  class="search-input-text">JUD</th>
                                    <th><input type="text" data-column="5"  class="search-input-text">SIRSUP</th>
                                    <th><input type="text" data-column="6"  class="search-input-text">TIP</th>
                                    <th><input type="text" data-column="7"  class="search-input-text">NIV</th>
                                    <th><input type="text" data-column="8"  class="search-input-text">REGIUNE</th>
                                    <th><input type="text" data-column="9"  class="search-input-text">FSJ</th>
                                    <th><input type="text" data-column="10"  class="search-input-text">FS2</th>
                                    <th><input type="text" data-column="11"  class="search-input-text">FS3</th>
                                    <th><input type="text" data-column="12"  class="search-input-text">FSL</th>
                                    <th><input type="text" data-column="13"  class="search-input-text">rang</th>
                                    <th><input type="text" data-column="14"  class="search-input-text">gmap_name</th>
                                    <th><input type="text" data-column="15"  class="search-input-text">gmap_postal_code</th>
                                    <th><input type="text" data-column="16"  class="search-input-text">gmap_admin_hierarchy </th>
                                    <th><input type="text" data-column="17"  class="search-input-text">gmap_center</th>
                                    <th><input type="text" data-column="18"  class="search-input-text">gmap_bounds</th>
                                    <th><input type="text" data-column="19"  class="search-input-text">distance_wiki_gmap</th>
                                    <th><input type="text" data-column="20"  class="search-input-text">gmap_type</th>
                                    <th><input type="text" data-column="21"  class="search-input-text">gmap_requests</th>
                                    <th><input type="text" data-column="22"  class="search-input-text">wiki_name</th>
                                    <th><input type="text" data-column="23"  class="search-input-text">wiki_siruta</th>
                                    <th><input type="text" data-column="24"  class="search-input-text">wiki_postal_code</th>
                                    <th><input type="text" data-column="25"  class="search-input-text">wiki_center</th>
                                    <th><input type="text" data-column="26"  class="search-input-text">wiki_admin_hierarchy</th>
                                    <th><input type="text" data-column="27"  class="search-input-text">DENLOC_Adapted</th>
                                    <th><input type="text" data-column="28"  class="search-input-text">gmap_name_Adapted</th>
                                    <th><input type="text" data-column="29"  class="search-input-text">Wiki_Name_Adapted</th>
                                    <th>gmd</th>
                                    <th>gpcs</th>
                                    <th>dst</th>
                                    <th>siruta_status</th>
                                    <th><input type="text" data-column="34"  class="search-input-text">Parser_id</th>
                               



                                </tr>
                                </thead>
                                <tbody>

                                    {% for item in data %}
                                        {% set com = 0 %}
                                        <tr>        
                                                    <td>

                                                    {% if 'status_snig' in item  %}
                                                        <div id="snig_confirm_{{item['_id']}}" >
                                                        {% if item['status_snig'] == 1  %}
                                                        <label class="label label-success">Confirmed </label>
                                                        <button onclick="dell_snig('{{item['_id']}}')" type="button" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-off"></i>delete-confirm</button> 
                                                        {% else %}
                                                        <button   name="WOFButton" onclick="cheked_snig('{{item['_id']}}')"  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>Confirm</button><p> 
                                                         {% endif %}
                                                         
                                                         </div>
                                                         {% if 'status_autoconfirm' in item  %}
                                                         <label class="label label-success">AutoConfirmed </label>
                                                         {% endif %}
                                                    {% elif 'status_ins' in  item  %}
                                                        <div id="ins_confirm_{{item['_id']}}" >
                                                        {% if item['status_ins'] == 1  %}
                                                        <label class="label label-success">INS-Confirmed  </label>
                                                        <button onclick="dell_ins('{{item['_id']}}')" type="button" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-off"></i>INS-delete-confirm</button> 
                                                        {% else %}
                                                        <button   name="WOFButton" onclick="cheked_ins('{{item['_id']}}')"  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>INS-Confirm</button><p> 
                                                         {% endif %}
                                                     {% else %}
                                                        <div id="snig_confirm_{{item['_id']}}" >
                                                        {% if item['status_snig'] == 1  %}
                                                        <label class="label label-success">Confirmed </label>
                                                        <button onclick="dell_snig('{{item['_id']}}')" type="button" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-off"></i>delete-confirm</button> 
                                                        {% else %}
                                                        <button   name="WOFButton" onclick="cheked_snig('{{item['_id']}}')"  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>Confirm</button><p> 
                                                         {% endif %}
                                                         
                                                         </div>
                                                         {% if 'status_autoconfirm' in item  %}
                                                         <label class="label label-success">AutoConfirmed </label>
                                                         {% endif %}
                                                          <div id="ins_confirm_{{item['_id']}}" >
                                                        {% if item['status_ins'] == 1  %}
                                                        <label class="label label-success">INS-Confirmed  </label>
                                                        <button onclick="dell_ins('{{item['_id']}}')" type="button" class="btn btn-primary btn-xs" ><i class="glyphicon glyphicon-off"></i>INS-delete-confirm</button> 
                                                        {% else %}
                                                        <button   name="WOFButton" onclick="cheked_ins('{{item['_id']}}')"  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>INS-Confirm</button><p> 
                                                         {% endif %}
                                                    {% endif %}






                                         


                                                    </td>



                                                    <td>{{item['SIRUTA']}}</td>





                                                    <td>{{item['DENLOC']}}</td>
                                                    <td>{{item['CODP']}}</td>
                                                    <td>{{item['JUD']}}</td>
                                                    <td>{{item['SIRSUP']}}</td>
                                                    <td>{{item['TIP']}} ({{tip_name[item['TIP']|string]}})</td>
                                                    <td>{{item['NIV']}}</td>
                                                    <td>{{item['REGIUNE']}}</td>
                                                    <td>{{item['FSJ']}}</td>
                                                    <td>{{item['FS2']}}</td>
                                                    <td>{{item['FS3']}}</td>
                                                    <td>{{item['FSL']}}</td>
                                                    <td>{{item['rang']}}</td>

                                                    {% if item['gmap_name'] and item['gmap_name'].lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't')   ==  item['DENLOC'].lower().lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't') %}
                                                        <td class="gmap_name_{{item['_id']}}"  style="background-color: #9efb9e;">  <div><a href="#myModal" data-toggle="modal" id="{{item['_id']}}" data-target="#edit-modal"><i  class="glyphicon glyphicon-repeat"></i></a></div>  {{item['gmap_name']}}</td>
                                                        {% set com = com +1 %}

                                                     {% else %}
                                                        <td class="gmap_name_{{item['_id']}}" style="background-color: #f0b7ab;">  <div><a href="#myModal" data-toggle="modal" id="{{item['_id']}}" data-target="#edit-modal"><i  class="glyphicon glyphicon-repeat"></i></a></div>  {{item['gmap_name']}}</td>
                                                      {% endif %}


                                         

                                                     {% if item['gmap_postal_code']  ==  item['CODP']|string %}
                                                        <td  style="background-color: #9efb9e;">{{item['gmap_postal_code']}}</td>
                                                        {% set com = com +1 %}

                                                     {% else %}
                                                        <td style="background-color: #f0b7ab;">{{item['gmap_postal_code']}}</td>
                                                      {% endif %}

                                                    <td>{{item['gmap_admin_hierarchy']}}</td>
                                                    {% if 'gmap_center' in item %}
                                                    <td><a target="_blank" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/?hl=ru#q%3D{{item['gmap_center']['lat']}},{{item['gmap_center']['lng']}}">{{item['gmap_center']['lat']}},{{item['gmap_center']['lng']}}</a></td>
                                                    {% else %}
                                                    <td></td>
                                                    {% endif %}
                                                    <td>{{item['gmap_bounds']}}</td>
                                                               {% if 'gmap_wiki_distance' in  item  and 'wiki_center' in item and  item['gmap_wiki_distance']  <  2 %}
                                                        <td class="gmap_comp_status_{{item['_id']}}" style="background-color: #9efb9e;"><a target="_blank" href="https://www.google.com.ua/maps/dir/{{item['gmap_center']['lat']}},{{item['gmap_center']['lng']}}/{{item['wiki_center']['lat']}},{{item['wiki_center']['lng']}}/data=!3m1!4b1!4m2!4m1!3e2">{{item['gmap_wiki_distance']}}</a> </td>
                                                        {% set com = com +1 %}
                                                    {% elif 'gmap_center' in  item  and 'wiki_center' in item %}

                                                        <td class="gmap_comp_status_{{item['_id']}}" style="background-color: #f0b7ab;" ><a target="_blank" href="https://www.google.com.ua/maps/dir/{{item['gmap_center']['lat']}},{{item['gmap_center']['lng']}}/{{item['wiki_center']['lat']}},{{item['wiki_center']['lng']}}/data=!3m1!4b1!4m2!4m1!3e2">{{item['gmap_wiki_distance']}}</a> </td>
                                                    {% else %}
                                                                         <td class="gmap_comp_status_{{item['_id']}}" style="background-color: #f0b7ab;" > </td>
                                                    {% endif %}
                                                    
                                                     {% if item['gmap_type'] in types[item['TIP']|string] %}
                                                    <td style="background-color: #9efb9e;" class="gmap_type_{{item['_id']}}">{{item['gmap_type']}}</td>
                                                    {% set com = com +1 %}
                                                    {% else %}
                                                     <td style="background-color: #f0b7ab;" class="gmap_type_{{item['_id']}}">{{item['gmap_type']}}</td>
                                                     {% endif %}


                                                      <td> {{item['gmap_requests']}}</td>
                                                    

                                                     {% if not 'status_autoconfirm' in item and 'status_snig' not in item   and com == 4 %}
                                                     {{ autocomplete(item['_id']) }}
                                                     {% endif %}

                                                    <td><div ><a href="#wikiModal" data-toggle="modal" id="{{item['_id']}}" data-target="#wiki-modal"><i  class="glyphicon glyphicon-repeat"></i></a></div> <div class="wiki_name_{{item['_id']}}" ><a target="_blank" href="{{item['wiki_url']}}"> {{item['wiki_name']}}</a></div></td>
                                                    
                                                    
                                                    {% if 'wiki_siruta' in item and item['wiki_siruta']|string == item['SIRUTA']|string %}

                                                     <td style="background-color: #9efb9e;">{{item['wiki_siruta']}}</td>
                                                     {% set sir = True %}
                                                      {% else %}
                                                      <td style="background-color: #f0b7ab;">{{item['wiki_siruta']}}</td>
                                                      {% set sir = false %}
                                                      {% endif %}

                                                    <td>{{item['wiki_postal_code']}}</td>
                                                    


                                                     {% if 'wiki_center' in item %}
                                                        <td  class="wiki_center_{{item['_id']}}" ><a target="_blank" href="https://google-developers.appspot.com/maps/documentation/utils/geocoder/?hl=ru#q%3D{{item['wiki_center']['lat']}},{{item['wiki_center']['lng']}}">{{item['wiki_center']['lat']}},{{item['wiki_center']['lng']}}</a></td>
                                                    {% else %}
                                                         <td class="wiki_center_{{item['_id']}}" ></td>
                                                    {% endif %}






                                                    <td>{{item['wiki_admin_hierarchy']}}</td>
                                                    <td>{{item['DENLOC'].lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't')}}</td>

                                                    {% if item['gmap_name'] %}
                                                    <td>{{item['gmap_name'].lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't')}}</td>
                                                    {% else %}
                                                    <td></td>
                                                     {% endif %}
                                                    
                                                             {% if item['wiki_name'] %}
                                                    <td>{{item['wiki_name'].lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't')}}</td>
                                                    {% else %}
                                                    <td></td>
                                                     {% endif %}
                                        
                                                    
                                                      {% if item['gmap_name'] and item['gmap_name'].lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't')   ==  item['DENLOC'].lower().lower().replace('ă', 'a').replace('ã', 'a').replace('â', 'a').replace('î', 'i').replace('ș', 's').replace('ş', 's').replace('ț', 't').replace('ţ', 't') %}
                                                        <td>true</td>

                                                     {% else %}
                                                       <td>false</td>
                                                      {% endif %}

                                                     {% if item['gmap_postal_code']  ==  item['CODP']|string %}
                                                        <td>true</td>

                                                     {% else %}
                                                       <td>false</td>
                                                      {% endif %}
                                    
                                                           {% if 'gmap_wiki_distance' in  item and  item['gmap_wiki_distance']  <  2 %}
                                                        <td>true</td>
                                                    {% elif 'gmap_center' in  item  and 'wiki_center' in item %}

                                                        <td>false</td>
                                                    {% else %}
                                                        <td>false</td>
                                                    {% endif %}
                                                     <td>{{sir}}</td>
                                                     <td>{{item['_id']}}</td>
                                        </tr>
                                       
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>


   <div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">EDIT</h4>
                </div>
   
                <form>
                   
                    <div class="modal-body edit-content">
                    ...

                    </div>
                   <input type="text" id="place_id_reparse" name="place_id_reparse" placeholder="Новий mongo_id">
                   <button type="button"  class="btn btn-primary" onclick="by_my_place()">Save changes</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>



   <div id="wiki-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">EDIT</h4>
                </div>
   
                <form>
                   
                    <div class="modal-body edit-content">
                    ...

                    </div>
                   <input type="text" id="wiki_url" name="wiki_url" placeholder="wiki url">
                   <button type="button"  class="btn btn-primary" onclick="repars_wiki()">Save changes</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    
                </div>
            </div>
        </div>
    </div>


</section>

<script src="/js/pages/tables/jquery-datatable.js"></script>
<script type="text/javascript">

function cheked_snig(id) {
       var id;
          $.post( "/matching-romania-confirm", { id: id })
            .done(function( data ) {
                 document.getElementById('snig_confirm_'+id).innerHTML = '<label class="label label-success">Confirmed </label> <button   name="WOFButton" onclick=dell_snig("'+id+'")  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-off"></i>delete-confirm</button>';
                 $( "#ins_confirm_"+id ).hide();
                 console.log($( "#ins_confirm_"+id ));
            
        });
}

function dell_snig(id) {
       var id;
       // alert(id);
          $.post( "/matching-romania-confirm", { id: id })
            .done(function( data ) {
                 document.getElementById('snig_confirm_'+id).innerHTML =      '  <td  id="status_'+id+'"> <button   name="WOFButton" onclick=cheked_snig("'+id+'")  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>Confirm</button> </td>';
                $( "#ins_confirm_"+id ).show();
        });
}

function cheked_ins(id) {
       var id;
          $.post( "/matching-romania-confirm_ins", { id: id })
            .done(function( data ) {
                 document.getElementById('ins_confirm_'+id).innerHTML = '<label class="label label-success">Confirmed INS</label> <button   name="WOFButton" onclick=dell_ins("'+id+'")  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-off"></i>INS-delete-confirm</button>';
                
                 $( "#snig_confirm_"+id ).hide();
        });
}

function dell_ins(id) {
       var id;
       // alert(id);
          $.post( "/matching-romania-confirm_del_ins", { id: id })
            .done(function( data ) {
                 document.getElementById('ins_confirm_'+id).innerHTML =      '  <td  id="status_'+id+'"> <button   name="WOFButton" onclick=cheked_ins("'+id+'")  type="button" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i>Confirm INS</button> </td>';
               $( "#snig_confirm_"+id ).show();
        });
}

function reparse_by_geocode(id) {
    
    $.post( "/romania-reparse_by_geocode", { id: id, type: 'autocomplete' })
            .done(function( data ) {
                
            console.log(data);
        });
    // var id;
    // alert(id);
}




function by_my_place() {
    var place_id = $('#place_id_reparse').val();
    var mongo_id =  $('.mongo_pars_is').text();
    // console.log(parser_id);
    // console.log(sinoptik_id);
    repars(mongo_id, place_id);
    // var place_id = $('#place_id_reparse').val('');
    // $('#edit-modal').modal('toggle');
    // // alert(mongo_id);
    //         $.post( "/sinoptik_db_reparse", { parser_id: parser_id, sinoptik_id:sinoptik_id })
    //         .done(function( data ) {
    //             console.log(data)
    //             arr = JSON.parse(data)
    //     //         $('#edit-modal').modal('toggle');
    //     //         var gmname = "<div><a href='#myModal' data-toggle='modal' id="+mongo_id+" data-target='#edit-modal'><i class='glyphicon glyphicon-repeat'></i></a></div>"+ arr['gmap_name'] ;
    //             var gm_comp = "<a target='_blank' href='"+arr['comparison_url']+"'>"+arr['comparison']+"</a>";
    //             $('.name_'+sinoptik_id).html(arr['SNIG_NOMBRE']);
    //     //         $('.gmap_type_'+mongo_id).html(arr['gmap_type']);
    //             $('.comp_status_'+sinoptik_id).html(gm_comp);
    //             $('.parser_'+sinoptik_id).html(parser_id);

    //     //         if (arr['gmap_type_status']) {
    //     //             $('.gmap_type_'+mongo_id).css('background-color','#9efb9e' );
    //     //         }else{
    //     //             $('.gmap_type_'+mongo_id).css('background-color','#f0b7ab' ); 
    //     //         }
    //     //         if (arr['gmap_name_status']) {
    //     //             $('.gmap_name_'+mongo_id).css('background-color','#9efb9e' );
    //     //         }else{
    //     //             $('.gmap_name_'+mongo_id).css('background-color','#f0b7ab' ); 
    //     //         }

    //             if (arr['comparison_status']) {
    //                 $('.comp_status_'+sinoptik_id).css('background-color','#9efb9e' );
    //             }else{
    //                 $('.comp_status_'+sinoptik_id).css('background-color','#f0b7ab' ); 
    //             }
    //     });
}

function repars(mongo_id, place_id) {
        $.post( "/romania-reparse_by_geocode", { id: mongo_id, type: 'geocoder', place_id:place_id })
            .done(function( data ) {
                arr = JSON.parse(data)
                // console.log(pcs)
                $('#place_id_reparse').val('');
                $('#edit-modal').modal('toggle');
                var gmname = "<div><a href='#myModal' data-toggle='modal' id="+mongo_id+" data-target='#edit-modal'><i class='glyphicon glyphicon-repeat'></i></a></div>"+ arr['gmap_name'] ;

                var gm_comp = "<a target='_blank' href='"+arr['gmap_comparison_url']+"'>"+arr['distance']+"</a>";
                $('.gmap_name_'+mongo_id).html(gmname);

                $('.gmap_type_'+mongo_id).html(arr['gmap_type']);
                $('.gmap_comp_status_'+mongo_id).html(gm_comp);
                 // $('.gmap_type_'+mongo_id).html(gm_comp);

                if (arr['gmap_type_status']) {
                    $('.gmap_type_'+mongo_id).css('background-color','#9efb9e' );
                }else{
                    $('.gmap_type_'+mongo_id).css('background-color','#f0b7ab' ); 
                }
                if (arr['gmap_name_status']) {
                    $('.gmap_name_'+mongo_id).css('background-color','#9efb9e' );
                }else{
                    $('.gmap_name_'+mongo_id).css('background-color','#f0b7ab' ); 
                }

                if (arr['distance_status']) {
                    $('.gmap_comp_status_'+mongo_id).css('background-color','#9efb9e' );
                }else{
                    $('.gmap_comp_status_'+mongo_id).css('background-color','#f0b7ab' ); 
                }
        });
}

function repars_wiki() {
    var wiki_url = $('#wiki_url').val();
    var wiki_mongo =  $('.wiki_mongo').text();
    console.log(wiki_url);
     console.log(wiki_mongo);
     $('#wiki_url').val('');
         $.post( "/romania-reparse_wiki", { wiki_url: wiki_url, wiki_mongo: wiki_mongo })
            .done(function( data ) {
                $('#wiki-modal').modal('toggle');
                arr = JSON.parse(data);
                // var wikicenret = "<a target='_blank' href='https://google-developers.appspot.com/maps/documentation/utils/geocoder/?hl=ru#q%3D"+arr['wiki_center']['lat']+","+arr['wiki_center']['lng']+"'>"+arr['wiki_center']['lat']+","+,arr['wiki_center']['lng']+"</a>";
                var wikicenret = "<a target='_blank' href='https://google-developers.appspot.com/maps/documentation/utils/geocoder/?hl=ru#q%3D"+arr['wiki_center']['lat']+","+arr['wiki_center']['lng']+"'>"+arr['wiki_center']['lat']+","+arr['wiki_center']['lng']+"</a>";
                var gm_comp = "<a target='_blank' href='"+arr['gmap_comparison_url']+"'>"+arr['distance']+"</a>";
               var wiki_name = "<a target='_blank' href='"+wiki_url+"'>"+arr['wiki_name']+"</a>";
                $('.gmap_comp_status_'+wiki_mongo).html(gm_comp);
                $('.wiki_name_'+wiki_mongo).html(wiki_name);
                $('.wiki_center_'+wiki_mongo).html(wikicenret);
            console.log(data);
                if (arr['distance_status']) {
                    $('.gmap_comp_status_'+wiki_mongo).css('background-color','#9efb9e' );
                }else{
                    $('.gmap_comp_status_'+wiki_mongo).css('background-color','#f0b7ab' ); 
                }
        });
  
}
</script>

{% endblock %}