{% extends "admin/layout.html" %}
{% block body %}
{% if country: %}
<script type="text/javascript" src="/data/gmap/{{country}}.js"></script>
{% else %}
<script type="text/javascript" src="/data/gmap.js"></script>
{% endif %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>GMAPS</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            GMAPS DEMO
                        </h2>
                    </div>
                    <div class="text">
                        Toggle column:
                        <a class="toggle-link-vis" data-column="0">Name</a>
                        - <a class="toggle-link-vis" data-column="1">Short name</a>
                        - <a class="toggle-link-vis" data-column="2">Admin Level</a>
                        - <a class="toggle-link-vis" data-column="3">Parents</a>
                        - <a class="toggle-link-vis" data-column="4">Position</a>
                        - <a class="toggle-link-vis" data-column="5" data-hide>Bounds</a>
                        - <a class="toggle-link-vis" data-column="6">Postal code</a>
                        - <a class="toggle-link-vis" data-column="7" data-hide>Requests</a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Short name</th>
                                    <th>Admin Level</th>
                                    <th>Parents</th>
                                    <th>Position</th>
                                    <th>Bounds</th>
                                    <th>Postal code</th>
                                    <th>Requests</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Short</th>
                                    <th>Admin</th>
                                    <th>Parents</th>
                                    <th>Position</th>
                                    <th>Bounds</th>
                                    <th>Postal code</th>
                                    <th>Requests</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>
{% endblock %}