{% extends "admin/layout.html" %}
{% block body %}

<section class="content">
    <div class="container-fluid">
    
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            ліміти ключів гугл
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>ключ</th>
                                    <th>геокодинг</th>
                                    <th>плейсес</th>
                                    <th>дістанс</th>
                                    
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                   <th>ключ</th>
                                    <th>геокодинг</th>
                                    <th>плейсес</th>
                                    <th>дістанс</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                    {% for item in data %}
                                        <tr>
                                            <td>{{ item.get("key") }}</td>
                                            <td>{{ item.get("geocode") }}</td>
                                            <td>{{ item.get("place") }}</td>
                                           <td>{{ item.get("distance") }}</td>
                                           
                                            
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>

<script src="/js/pages/tables/jquery-datatable.js"></script>
{% endblock %}