{% extends "admin/layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('matching_france_js', region=region, mode=mode) }}"></script>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Internal</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Matching France
                        </h2>
                    </div>
                    <div class="text">
                        Toggle column (Internal):
                        <a class="toggle-link-vis" data-column="0">#</a>
                        - <a class="toggle-link-vis" data-column="4">Name</a>
                        - <a class="toggle-link-vis" data-column="5">Type</a>
                        - <a class="toggle-link-vis" data-column="6">AdmL1</a>
                        - <a class="toggle-link-vis" data-column="7">AdmL2</a>
                        - <a class="toggle-link-vis" data-column="8">AdmL3</a>
                        - <a class="toggle-link-vis" data-column="9" data-hide>AdmL4</a>
                        - <a class="toggle-link-vis" data-column="10" data-hide>AdmL5</a>
                        - <a class="toggle-link-vis" data-column="11" data-hide>AdmL6</a>
                        - <a class="toggle-link-vis" data-column="12" data-hide>AdmL7</a>
                        - <a class="toggle-link-vis" data-column="13" data-hide>AdmL8</a>
                        - <a class="toggle-link-vis" data-column="14" data-hide>Capital</a>
                        - <a class="toggle-link-vis" data-column="15">Center</a>
                        - <a class="toggle-link-vis" data-column="16">Population</a>
                        - <a class="toggle-link-vis" data-column="17" data-hide>Postal codes</a>
                    </div>
                    <div class="text">
                        Toggle column (Wiki):
                        <a class="toggle-link-vis" data-column="18" data-hide>#</a>
                        - <a class="toggle-link-vis" data-column="19" >Name</a>
                        - <a class="toggle-link-vis" data-column="20" id="wiki-true-name" >True Name</a>
                        - <a class="toggle-link-vis" data-column="21" data-hide>Type</a>
                        - <a class="toggle-link-vis" data-column="22">Wiki AdmL1</a>
                        - <a class="toggle-link-vis" data-column="23">Wiki AdmL2</a>
                        - <a class="toggle-link-vis" data-column="24">Wiki AdmL3</a>
                        - <a class="toggle-link-vis" data-column="25" data-hide>Wiki AdmL4</a>
                        - <a class="toggle-link-vis" data-column="26" data-hide>Wiki AdmL5</a>
                        - <a class="toggle-link-vis" data-column="27" data-hide>Wiki AdmL6</a>
                        - <a class="toggle-link-vis" data-column="28" data-hide>Wiki AdmL7</a>
                        - <a class="toggle-link-vis" data-column="29" data-hide>Wiki AdmL8</a>
                        - <a class="toggle-link-vis" data-column="30" data-hide>Capital</a>
                        - <a class="toggle-link-vis" data-column="31" data-hide>Position</a>
                        - <a class="toggle-link-vis" data-column="32" data-hide>Altitude</a>
                        - <a class="toggle-link-vis" data-column="33" data-hide>Population</a>
                        - <a class="toggle-link-vis" data-column="34" data-hide>Density</a>
                        - <a class="toggle-link-vis" data-column="35" data-hide>Area</a>
                        - <a class="toggle-link-vis" data-column="36" data-hide>Postal code</a>
                        - <a class="toggle-link-vis" data-column="37" data-hide>Communes</a>
                        - <a class="toggle-link-vis" data-column="38" data-hide>Canton codes</a>
                        - <a class="toggle-link-vis" data-column="39" data-hide>Commune code</a>
                    </div>
                    <div class="text">
                        Toggle column (Gmap):
                        <a class="toggle-link-vis" data-column="40" data-hide>#</a>
                        - <a class="toggle-link-vis" data-column="41" >Name</a>
                        - <a class="toggle-link-vis" data-column="42" id="gmap-true-name">True Name</a>
                        - <a class="toggle-link-vis" data-column="43" data-hide>Short name</a>
                        - <a class="toggle-link-vis" data-column="44" data-hide>Admin Level</a>
                        - <a class="toggle-link-vis" data-column="45">Gmap AdmL1</a>
                        - <a class="toggle-link-vis" data-column="46">Gmap AdmL2</a>
                        - <a class="toggle-link-vis" data-column="47">Gmap AdmL3</a>
                        - <a class="toggle-link-vis" data-column="48" data-hide>Gmap AdmL4</a>
                        - <a class="toggle-link-vis" data-column="49" data-hide>Gmap AdmL5</a>
                        - <a class="toggle-link-vis" data-column="50" data-hide>Gmap AdmL6</a>
                        - <a class="toggle-link-vis" data-column="51" data-hide>Gmap AdmL7</a>
                        - <a class="toggle-link-vis" data-column="52" data-hide>Gmap AdmL8</a>
                        - <a class="toggle-link-vis" data-column="53" data-hide>Position</a>
                        - <a class="toggle-link-vis" data-column="54" data-hide>Bounds</a>
                        - <a class="toggle-link-vis" data-column="55" data-hide>Postal code</a>
                    </div>
                    <div class="text">
                        Toggle column (Additional):
                        <a class="toggle-link-vis" data-column="56" data-hide>#</a>
                        - <a class="toggle-link-vis" data-column="57" data-hide>I_Code_Arrondissements</a>
                        - <a class="toggle-link-vis" data-column="58" data-hide>I_Ar</a>
                        - <a class="toggle-link-vis" data-column="59" data-hide>I_Cheflieu</a>
                        - <a class="toggle-link-vis" data-column="60" data-hide>I_Code_canton</a>
                        - <a class="toggle-link-vis" data-column="61" data-hide>I_Region</a>
                        - <a class="toggle-link-vis" data-column="62" data-hide>I_Dep</a>
                        - <a class="toggle-link-vis" data-column="63" data-hide>I_Canton</a>
                        - <a class="toggle-link-vis" data-column="64" data-hide>I_Typct</a>
                        - <a class="toggle-link-vis" data-column="65" data-hide>I_Burcentral</a>
                        - <a class="toggle-link-vis" data-column="66" data-hide>I_Tncc</a>
                        - <a class="toggle-link-vis" data-column="67" data-hide>I_Artmaj</a>
                        - <a class="toggle-link-vis" data-column="68" data-hide>I_Ncc</a>
                        - <a class="toggle-link-vis" data-column="69" data-hide>I_Armin</a>
                        - <a class="toggle-link-vis" data-column="70" data-hide>I_Nccent</a>
                        - <a class="toggle-link-vis" data-column="71" data-hide>I_Nccenr</a>
                        - <a class="toggle-link-vis" data-column="1" >InseeXls_CodeCommune</a>
                        - <a class="toggle-link-vis" data-column="2" >InseeXls_NameCommune</a>
                        - <a class="toggle-link-vis" data-column="3" data-hide>InseeXls_Population</a>
                        - <a class="toggle-link-vis" data-column="72" data-hide>I_Code_departament</a>
                        - <a class="toggle-link-vis" data-column="73" data-hide>ColResultInSnipet</a>
                    </div>

                    <div class="text">
                        Compare columns:
                        <a class="toggle-link-vis" data-column="74" data-hide>INSEE code ≠ Wiki insee code</a>
                        <a class="toggle-link-vis" data-column="75" data-hide>INSEE name ≠ Wiki name</a>
                        <a class="toggle-link-vis" data-column="76" data-hide>Wiki name ≠ Gmaps name</a>
                        <a class="toggle-link-vis" data-column="77" data-hide>Wiki post ≠ Gmaps post</a>
                        <a class="toggle-link-vis" data-column="78" data-hide>Wiki admin ≠ GMaps admin</a>
                        <a class="toggle-link-vis" data-column="79" data-hide>Wiki position >(5km) GMaps position</a>
                    </div>

                    <div>

                        <div>
                            <label for="insee_name_not_wiki_name">INSEE name ≠ Wiki name </label>
                            <select class="switch-for-filter" data-field="75" id="insee_name_not_wiki_name">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <label for="insee_code_wiki_insee_code">INSEE code ≠ Wiki insee code</label>
                            <select class="switch-for-filter" data-field="74" id="insee_code_wiki_insee_code">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <label for="wiki_name_gmaps_name">Wiki name ≠ Gmaps name</label>
                            <select class="switch-for-filter" data-field="76" id="wiki_name_gmaps_name">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <label for="wiki_post_gmaps_post">Wiki post ≠ Gmaps post</label>
                            <select class="switch-for-filter" data-field="77" id="wiki_post_gmaps_post">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <label for="wiki_admin_gmaps_admin">Wiki admin ≠ GMaps admin</label>
                            <select class="switch-for-filter" data-field="78" id="wiki_admin_gmaps_admin">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>

                        <div>
                            <label for="wiki_position_5km_gmaps_position">Wiki position >(5km) GMaps position</label>
                            <select class="switch-for-filter" data-field="79" id="wiki_position_5km_gmaps_position">
                                <option value="">Off</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th data-n="0">#</th>
                                    <th data-n="1">InseeXls_CodeCommune</th>
                                    <th data-n="2">InseeXls_NameCommune</th>
                                    <th data-n="3">InseeXls_Population</th>
                                    <th data-n="4">Name</th>
                                    <th data-n="5">Type</th>
                                    <th data-n="6">AdmL1</th>
                                    <th data-n="7">AdmL2</th>
                                    <th data-n="8">AdmL3</th>
                                    <th data-n="9">AdmL4</th>
                                    <th data-n="10">AdmL5</th>
                                    <th data-n="11">AdmL6</th>
                                    <th data-n="12">AdmL7</th>
                                    <th data-n="13">AdmL8</th>
                                    <th data-n="14">Capital</th>
                                    <th data-n="15">Center</th>
                                    <th data-n="16">Population</th>
                                    <th data-n="17">Postal codes</th>

                                    <th data-n="18">Wiki #</th>
                                    <th data-n="19">Wiki Name</th>
                                    <th data-n="20">Wiki True Name</th>
                                    <th data-n="21">Wiki Type</th>
                                    <th data-n="22">Wiki AdmL1</th>
                                    <th data-n="23">Wiki AdmL2</th>
                                    <th data-n="24">Wiki AdmL3</th>
                                    <th data-n="25">Wiki AdmL4</th>
                                    <th data-n="26">Wiki AdmL5</th>
                                    <th data-n="27">Wiki AdmL6</th>
                                    <th data-n="28">Wiki AdmL7</th>
                                    <th data-n="29">Wiki AdmL8</th>
                                    <th data-n="30">Wiki Capital</th>
                                    <th data-n="31">Wiki Position</th>
                                    <th data-n="32">Wiki Altitude</th>
                                    <th data-n="33">Wiki Population</th>
                                    <th data-n="34">Wiki Density</th>
                                    <th data-n="35">Wiki Area</th>
                                    <th data-n="36">Wiki Postal code</th>
                                    <th data-n="37">Wiki Communes</th>
                                    <th data-n="38">Wiki Canton codes</th>
                                    <th data-n="39">Wiki Commune code</th>


                                    <th data-n="40">Gmap #</th>
                                    <th data-n="41">Gmap Name</th>
                                    <th data-n="42">Gmap True Name</th>
                                    <th data-n="43">Gmap Short name</th>
                                    <th data-n="44">Gmap Admin Level</th>
                                    <th data-n="45">Gmap AdmL1</th>
                                    <th data-n="46">Gmap AdmL2</th>
                                    <th data-n="47">Gmap AdmL3</th>
                                    <th data-n="48">Gmap AdmL4</th>
                                    <th data-n="49">Gmap AdmL5</th>
                                    <th data-n="50">Gmap AdmL6</th>
                                    <th data-n="51">Gmap AdmL7</th>
                                    <th data-n="52">Gmap AdmL8</th>
                                    <th data-n="53">Gmap Position</th>
                                    <th data-n="54">Gmap Bounds</th>
                                    <th data-n="55">Gmap Postal code</th>


                                    <th data-n="56">Additional #</th>
                                    <th data-n="57">I_Code_Arrondissements</th>
                                    <th data-n="58">I_Ar</th>
                                    <th data-n="59">I_Cheflieu</th>
                                    <th data-n="60">I_Code_canton</th>
                                    <th data-n="61">I_Region</th>
                                    <th data-n="62">I_Dep</th>
                                    <th data-n="63">I_Canton</th>
                                    <th data-n="64">I_Typct</th>
                                    <th data-n="65">I_Burcentral</th>
                                    <th data-n="66">I_Tncc</th>
                                    <th data-n="67">I_Artmaj</th>
                                    <th data-n="68">I_Ncc</th>
                                    <th data-n="69">I_Armin</th>
                                    <th data-n="70">I_Nccent</th>
                                    <th data-n="71">I_Nccenr</th>
                                    <th data-n="72">I_Code_departament</th>
                                    <th data-n="73">ColResultInSnipet</th>

                                    <th data-n="74">INSEE code ≠ Wiki insee code</th>
                                    <th data-n="75">INSEE name ≠ Wiki name</th>
                                    <th data-n="76">Wiki name ≠ Gmaps name</th>
                                    <th data-n="77">Wiki post ≠ Gmaps post</th>
                                    <th data-n="78">Wiki admin ≠ GMaps admin</th>
                                    <th data-n="79">Wiki position >(5km) GMaps position</th>

                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>InseeXls_CodeCommune</th>
                                    <th>InseeXls_NameCommune</th>
                                    <th>InseeXls_Population</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>AdmL1</th>
                                    <th>AdmL2</th>
                                    <th>AdmL3</th>
                                    <th>AdmL4</th>
                                    <th>AdmL5</th>
                                    <th>AdmL6</th>
                                    <th>AdmL7</th>
                                    <th>AdmL8</th>
                                    <th>Capital</th>
                                    <th>Center</th>
                                    <th>Population</th>
                                    <th>Postal codes</th>

                                    <th>Wiki #</th>
                                    <th>Wiki Name</th>
                                    <th>Wiki Type</th>
                                    <th>Wiki AdmL1</th>
                                    <th>Wiki AdmL2</th>
                                    <th>Wiki AdmL3</th>
                                    <th>Wiki AdmL4</th>
                                    <th>Wiki AdmL5</th>
                                    <th>Wiki AdmL6</th>
                                    <th>Wiki AdmL7</th>
                                    <th>Wiki AdmL8</th>
                                    <th>Wiki Capital</th>
                                    <th>Wiki Position</th>
                                    <th>Wiki Altitude</th>
                                    <th>Wiki Population</th>
                                    <th>Wiki Density</th>
                                    <th>Wiki Area</th>
                                    <th>Wiki Postal code</th>
                                    <th>Wiki Communes</th>
                                    <th>Wiki Canton codes</th>
                                    <th>Wiki Commune code</th>


                                    <th>Gmap #</th>
                                    <th>Gmap Name</th>
                                    <th>Gmap Short name</th>
                                    <th>Gmap Admin Level</th>
                                    <th>Gmap AdmL1</th>
                                    <th>Gmap AdmL2</th>
                                    <th>Gmap AdmL3</th>
                                    <th>Gmap AdmL4</th>
                                    <th>Gmap AdmL5</th>
                                    <th>Gmap AdmL6</th>
                                    <th>Gmap AdmL7</th>
                                    <th>Gmap AdmL8</th>
                                    <th>Gmap Position</th>
                                    <th>Gmap Bounds</th>
                                    <th>Gmap Postal code</th>


                                    <th>Additional #</th>
                                    <th>I_Code_Arrondissements</th>
                                    <th>I_Ar</th>
                                    <th>I_Cheflieu</th>
                                    <th>I_Code_canton</th>
                                    <th>I_Region</th>
                                    <th>I_Dep</th>
                                    <th>I_Canton</th>
                                    <th>I_Typct</th>
                                    <th>I_Burcentral</th>
                                    <th>I_Tncc</th>
                                    <th>I_Artmaj</th>
                                    <th>I_Ncc</th>
                                    <th>I_Armin</th>
                                    <th>I_Nccent</th>
                                    <th>I_Nccenr</th>
                                    <th>I_Code_departament</th>
                                    <th>ColResultInSnipet</th>

                                    <th>INSEE code ≠ Wiki insee code</th>
                                    <th>INSEE name ≠ Wiki name</th>
                                    <th>Wiki name ≠ Gmaps name</th>
                                    <th>Wiki post ≠ Gmaps post</th>
                                    <th>Wiki admin ≠ GMaps admin</th>
                                    <th>Wiki position >(5km) GMaps position</th>

                                </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>
{% endblock %}