{% extends "admin/layout.html" %}
{% block body %}
{% if country: %}
<script type="text/javascript" src="/data/wiki/{{country}}.js"></script>
{% else %}
<script type="text/javascript" src="/data/wiki.js"></script>
{% endif %}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>WIKIPEDIA</h2>
        </div>
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            WIKI {{ country }}
                        </h2>
                    </div>
                    <div class="text">
                        Toggle column:
                        <a class="toggle-link-vis" data-column="0">#</a>
                        - <a class="toggle-link-vis" data-column="1">Name</a>
                        - <a class="toggle-link-vis" data-column="2">Type</a>
                        <!-- - <a class="toggle-link-vis" data-column="3" data-hide>i18n</a-->
                        - <a class="toggle-link-vis" data-column="3">Parents</a>
                        - <a class="toggle-link-vis" data-column="4">Capital</a>
                        - <a class="toggle-link-vis" data-column="5">Position</a>
                        - <a class="toggle-link-vis" data-column="6">Altitude</a>
                        - <a class="toggle-link-vis" data-column="7">Population</a>
                        - <a class="toggle-link-vis" data-column="8">Density</a>
                        - <a class="toggle-link-vis" data-column="9">Area</a>
                        - <a class="toggle-link-vis" data-column="10" data-hide>Postal code</a>
                        - <a class="toggle-link-vis" data-column="11" data-hide>Requests</a>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <!--th>i18n</th-->
                                    <th>Parents</th>
                                    <th>Capital</th>
                                    <th>Position</th>
                                    <th>Altitude</th>
                                    <th>Population</th>
                                    <th>Density</th>
                                    <th>Area</th>
                                    <th>Postal code</th>
                                    <th>Requests</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <!--th>i18n</th-->
                                    <th>Parents</th>
                                    <th>Capital</th>
                                    <th>Position</th>
                                    <th>Altitude</th>
                                    <th>Population</th>
                                    <th>Density</th>
                                    <th>Area</th>
                                    <th>Postal code</th>
                                    <th>Request</th>
                                </tr>
                                </tfoot>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->

    </div>
</section>
{% endblock %}